<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Import Font from Google -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

    <!-- Your existing CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
</head>

<body>
    <div class="container-fluid d-flex flex-column vh-100">
        <div id="chat-container" class="flex-grow-1 overflow-auto"></div>

        <form id="chat-form" class="mb-3">
            <div class="input-group">
                <textarea name="user_input" id="user-input" class="form-control" placeholder="Type your message..." required></textarea>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success" id="sendButton">Send</button>
                </div>
            </div>
            <p style="display: none;" id="paragraph">{{ session_id }}</p>
        </form>
    </div>

    <!-- Include showdown.js -->
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Dynamically render the first message if it exists
            if ({{ first_message | tojson | safe }}) {
                addMessageToChat('Bot', {{ first_message | tojson | safe }});
            }
        });

        let botMessageCount = 0; // Counter for bot messages

        const chatContainer = document.getElementById('chat-container');
        const chatForm = document.getElementById('chat-form');
        const userInputField = document.getElementById('user-input');
        const sessionParagraph = document.getElementById('paragraph');
        const converter = new showdown.Converter();

        // Automatically resize the textarea based on its content
        userInputField.addEventListener('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });

        // Listen for the Enter key to submit the form
        userInputField.addEventListener('keydown', function (event) {
            if (event.key === 'Enter' && !event.shiftKey) {
                event.preventDefault();
                chatForm.dispatchEvent(new Event('submit', { cancelable: true, bubbles: true }));
            }
        });

        chatForm.addEventListener('submit', function (event) {
            event.preventDefault();

            const userMessage = userInputField.value;
            addMessageToChat('You', userMessage);

            userInputField.value = '';
            showLoadingIndicator();

            document.getElementById('sendButton').disabled = true;
            // Send data to the server
            fetch('/chat', {
                method: 'POST',
                body: JSON.stringify({ user_input: userMessage, session_id: sessionParagraph.innerText }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    updateChatHistory(data.chat_history);
                    removeLoadingIndicator();

                    botMessageCount++; // Increment bot message count
                    if (botMessageCount === 5) {
                        // Send a message to the parent window
                        const message = { conversation_end: true };
                        window.parent.postMessage("conversation_end", "*"); // End of conversation reached to Qualtrics
                        console.log("Disable chat post message: ", message);
                    }

                    // Re-enable the send button
                    document.getElementById('sendButton').disabled = false;

                    // Send the chat history to Qualtrics
                    window.parent.postMessage({
                        type: 'chatHistory',
                        chatHistory: data.chat_history
                    }, '*');
                })
                .catch(error => {
                    console.error('Error:', error);
                    // In case of error, also re-enable the send button so the user can try again
                    document.getElementById('sendButton').disabled = false;
                });
        });

        function updateChatHistory(chatHistory) {
            chatContainer.innerHTML = ''; // Clear existing messages
            console.log("History updatehistory incoming: ", chatHistory);

            const totalMessages = Math.max(chatHistory.user.length, chatHistory.bot.length);
            for (let i = 0; i < totalMessages; i++) {
                if (i < chatHistory.bot.length) {
                    addMessageToChat('Bot', chatHistory.bot[i]);
                }
                if (i < chatHistory.user.length) {
                    addMessageToChat('You', chatHistory.user[i]);
                }
            }
            window.parent.postMessage(chatHistory, '*');
            console.log("Chat post message: ", chatHistory);
        }

        function addMessageToChat(sender, message) {
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('message');
            if (sender === 'You') {
                messageDiv.classList.add('user');
            } else if (sender === 'Bot') {
                messageDiv.classList.add('bot');
            }

            // Convert Markdown to HTML using marked.js
            const formattedMessage = converter.makeHtml(message);

            messageDiv.innerHTML = `<div class="profile-pic"></div><div><strong>${sender}:</strong> ${formattedMessage}</div>`;
            chatContainer.appendChild(messageDiv);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        function showLoadingIndicator() {
            const loadingDiv = document.createElement('div');
            loadingDiv.classList.add('loading-indicator');
            loadingDiv.innerHTML = `<div class="dot"></div><div class="dot"></div><div class="dot"></div>`;
            chatContainer.appendChild(loadingDiv);
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        function removeLoadingIndicator() {
            const loadingDiv = chatContainer.querySelector('.loading-indicator');
            if (loadingDiv) {
                chatContainer.removeChild(loadingDiv);
            }
        }

    </script>

</body>

</html>
